# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Java CI with Maven

on:
  pull_request:
    branches: [ "develop" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn -B package --file pom.xml

    # Optional: Uploads the full dependency graph to GitHub to improve the quality of Dependabot alerts this repository can receive
    - name: Update dependency graph
      uses: advanced-security/maven-dependency-submission-action@571e99aab1055c2e71a1e2309b9691de18d6b7d6

      #Packaging Standard backend
    - name: Packaging Small (S) Version
      run: |
        # Merge cumulocity.json with cumulocity-S.json
        jq -s '.[0] * .[1]' ./cumulocity-microservice-service-request-mgmt/src/main/configuration/cumulocity.json ./cumulocity-microservice-service-request-mgmt/src/main/configuration/cumulocity-S.json > ./cumulocity-microservice-service-request-mgmt/target/cumulocity.json
        
        # Create a copy of the microservice package
        cp ./cumulocity-microservice-service-request-mgmt/target/${{ env.artifact_filename }} ./cumulocity-microservice-service-request-mgmt/target/service-request-mgmt-S-${{ steps.project.outputs.version }}.zip

        # Replace the cumulocity.json in the copied package with the merged cumulocity-merged-S.json
        zip -d ./cumulocity-microservice-service-request-mgmt/target/service-request-mgmt-S-${{ steps.project.outputs.version }}.zip cumulocity.json
        zip -j ./cumulocity-microservice-service-request-mgmt/target/service-request-mgmt-S-${{ steps.project.outputs.version }}.zip ./cumulocity-microservice-service-request-mgmt/target/cumulocity.json

      #Packaging Medium backend
    - name: Packaging Small (M) Version
      run: |
        # Merge cumulocity.json with cumulocity-M.json
        jq -s '.[0] * .[1]' ./cumulocity-microservice-service-request-mgmt/src/main/configuration/cumulocity.json ./cumulocity-microservice-service-request-mgmt/src/main/configuration/cumulocity-M.json > ./cumulocity-microservice-service-request-mgmt/target/cumulocity.json
        
        # Create a copy of the microservice package
        cp ./cumulocity-microservice-service-request-mgmt/target/service-request-mgmt-${{ steps.project.outputs.version }}.zip ./cumulocity-microservice-service-request-mgmt/target/service-request-mgmt-M-${{ steps.project.outputs.version }}.zip
        # Replace the cumulocity.json in the copied package with the merged cumulocity-merged-S.json
        zip -d ./cumulocity-microservice-service-request-mgmt/target/service-request-mgmt-M-${{ steps.project.outputs.version }}.zip cumulocity.json
        zip -j ./cumulocity-microservice-service-request-mgmt/target/service-request-mgmt-M-${{ steps.project.outputs.version }}.zip ./cumulocity-microservice-service-request-mgmt/target/cumulocity.json

